#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
}
.resultImg {
  width: 65%;
}
.resultDesc {
  font-size: 15px;
}
@media (max-width: 420px) {
  .resultImg {
    width: 300px;
  }
}
